
body
{
    background-color: black;
    color: white;
    width: 92%;
}

#name
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(252, 249, 249);
    text-align:left;
    margin-top: 10%;
    margin-left:10%;
}
#n1
{
    margin-top: -30px;
display: flex;
}
#n2
{
margin-left: 30px;
color: rgb(51, 228, 51);
}
#n3
{
margin-top: -50px;
}
#firstbutton
{
 margin-left: 15cm;   
}
#firstbutton:hover
{
    transform: scale(1.1);
   
}
#firstbutton1
{
 margin-left: 60px;   
}
#firstbutton1:hover
{
    transform: scale(1.1);
}

#firstname
{
    margin-left: 3cm;
}
#first
{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: black;
}
#Firstlayer
{
    margin-top: 0;
    padding: 10px;
    display: flex;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
#line
{
    margin-top: 5px;
    width: 105%;
    height: 2px;
    color: aliceblue;
    background-color: rgb(0, 6, 6);
    box-shadow: 0 0 0.5px aliceblue;
}
#CV
{
    display: flex;
    margin-top: 50px;
    padding:10px 20px;
    border-radius:20px;
    margin-left: 4%;
    font-size: 25px;
    background-color: rgb(51, 228, 51);
}

#CV:hover
{
    transform: scale(1.1);
}
#profile:hover
{
    transform: scale(1.05); 
}
#icon
{
    display: flex;
}
#icon1
{
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 17cm;
}
#icon1:hover
{
transform: scale(1.1);
}
#icon2
{
    margin-left: 45px;
    margin-top: 25px;
    border-radius: 60%;
}
#icon2:hover
{
transform: scale(1.2);
}
#icon3
{
    margin-left: 40px;
    margin-top: 28px;
    border-radius: 60%;
}
#icon3:hover
{
transform: scale(1.1);
}
#icon4
{
    border-radius:1000px;
    margin-left: 50px;
    margin-top: 35px;
    
}
#icon4:hover
{
transform: scale(1.1);
}
a {
    color: aliceblue;
    text-decoration: none;  
}
#Profile
{
    margin-top: -5%;
  margin-left: 30%;
  border-radius: 50%;
}
#Homebody
{
    max-width: 100%;
}

#About
{
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 228, 51);
    text-shadow: 20px;
    margin-left: 5cm;
    margin-right: 50px;
    margin-top: 3cm;
}

#Aboutline
{
    display: flex;
}

#Abouttext
{
    margin-top: 3cm;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 4%;
    height: 10%;
    width: 45%;
    text-align:inherit;
    
}
#Aboutimg
{
    border-radius: 300px;
    margin-top: 3cm;
    margin-left: 15%;
}
#Aboutimg1
{
    border-radius: 20%;
}

#Skills
{
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 228, 51);
    text-shadow: 20px;
    margin-left: 5cm;
    margin-right: 50px;
    margin-top: 3cm;
}

#Skillsline
{
    display: flex;
}

#Skillstext
{
    margin-top: 2cm;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 4%;
    height: 10%;
    width: 45%;
    text-align:inherit;
    
}
#Skillsimg1
{
    border-radius: 50px;
    background-color: black;
    margin-top: 4cm;
    margin-left: 15%;
}

#Skills1
{
    margin-left:0px;
}
#Skills01
{
    margin-left: 8.2cm;
}
#Skills10
{
    border-radius:0cm 1cm 1cm 0cm;
    height: 6px;
    width: 6cm;
    border-color: green;
   background-color: green;
}

#Skills2
{
    margin-left:0px;
}
#Skills02
{
    margin-left: 7.2cm;
}
#Skills20
{
    border-radius:0cm 1cm 1cm 0cm;
    height: 6px;
    width: 5cm;
    border-color: green;
   background-color: green;
}

#Skills3
{
    margin-left:0px;
}
#Skills03
{
    margin-left: 7.5cm;
}
#Skills30
{
    border-radius:0cm 1cm 1cm 0cm;
    height: 6px;
    width: 7cm;
    border-color: green;
   background-color: green;
}

#Skills4
{
    margin-left:0px;

}
#Skills04
{
    margin-left: 5.2cm;
}
#Skills40
{
    border-radius:0cm 1cm 1cm 0cm;
    height: 6px;
    width: 6cm;
    border-color: green;
   background-color: green;
}
#Contactimg
{
    margin-top: 1cm;
    margin-left: 17.5cm;
    border-radius: 50%;
}
#Contactname
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 1cm;
    margin-left: 17.5cm;
}
#Contactline
{
    display: flex;
}
#Work1img
{
    margin-top: 0.5cm;
    margin-left: 11cm;
    height: 14cm;
    width: 20cm;
    border-radius: 20px;
}